[submodule "scripts/resources"]
	path = scripts/resources
	url = https://github.com/Lakr233/vphone-cli-storage.git
[submodule "vendor/libcapstone-spm"]
	path = vendor/libcapstone-spm
	url = https://github.com/Lakr233/libcapstone-spm.git
[submodule "vendor/libimg4-spm"]
	path = vendor/libimg4-spm
	url = https://github.com/Lakr233/libimg4-spm.git
[submodule "vendor/MachOKit"]
	path = vendor/MachOKit
	url = https://github.com/p-x9/MachOKit.git
[submodule "vendor/Dynamic"]
	path = vendor/Dynamic
	url = https://github.com/mhdhejazi/Dynamic.git
[submodule "vendor/swift-argument-parser"]
	path = vendor/swift-argument-parser
	url = https://github.com/apple/swift-argument-parser.git
[submodule "scripts/repos/trustcache"]
	path = scripts/repos/trustcache
	url = https://github.com/CRKatri/trustcache.git
[submodule "scripts/repos/insert_dylib"]
	path = scripts/repos/insert_dylib
	url = https://github.com/tyilo/insert_dylib.git
[submodule "scripts/repos/libplist"]
	path = scripts/repos/libplist
	url = https://github.com/libimobiledevice/libplist.git
[submodule "scripts/repos/libimobiledevice-glue"]
	path = scripts/repos/libimobiledevice-glue
	url = https://github.com/libimobiledevice/libimobiledevice-glue.git
[submodule "scripts/repos/libusbmuxd"]
	path = scripts/repos/libusbmuxd
	url = https://github.com/libimobiledevice/libusbmuxd.git
[submodule "scripts/repos/libtatsu"]
	path = scripts/repos/libtatsu
	url = https://github.com/libimobiledevice/libtatsu.git
[submodule "scripts/repos/libimobiledevice"]
	path = scripts/repos/libimobiledevice
	url = https://github.com/libimobiledevice/libimobiledevice.git
[submodule "scripts/repos/libirecovery"]
	path = scripts/repos/libirecovery
	url = https://github.com/libimobiledevice/libirecovery.git
[submodule "scripts/repos/idevicerestore"]
	path = scripts/repos/idevicerestore
	url = https://github.com/libimobiledevice/idevicerestore.git
[submodule "scripts/repos/libzip"]
	path = scripts/repos/libzip
	url = https://github.com/nih-at/libzip.git
