<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.vphone.cli</string>
	<key>CFBundleExecutable</key>
	<string>vphone-cli</string>
	<key>CFBundleName</key>
	<string>vphone-cli</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>NSLocationUsageDescription</key>
	<string>vphone-cli forwards your location to the guest VM for location simulation.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>vphone-cli forwards your location to the guest VM for location simulation.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>vphone-cli forwards your location to the guest VM for location simulation.</string>
</dict>
</plist>
